extends layout

block content
  h1= title
  form(
    method = "POST"
    action = "/new")
    input(
      type = "text"
      name = "author-name"
    )
    input(
      type = "text"
      name = "message-text"
    )
    button(
      type = "submit"
    ) Submit
